@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

::-webkit-scrollbar {
  /* cor e tmanho da barra de rolagem */
  width: 1vh;
  background-color: #b34a2f;
}

::-webkit-scrollbar-thumb {
  /* edita a cor e tamanho da parte movel da barra de rolagem */
  background-color: #002b4b;
  border-radius: 3px;
}

html {
  height: 100%;
}

.logo {
  margin-left: 5%;
  width: 10%;
  height: 10%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to right, #002b4b 0%, #b34a2f 100%);
  overflow: hidden;
}

.register-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 25px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.register-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.register-box .user-box {
  position: relative;
}

input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

#msform {
  text-align: center;
  position: relative;
}

#msform fieldset {
  border: 0 none;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform .action-button {
  width: 100px;
  background: #0e65b6;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 7px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #2575fc;
}

.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 30.33%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}

#progressbar li:first-child:after {
  content: none;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #2575fc;
  color: white;
}

select {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #726f6f;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.button-container {
  display: flex;
  justify-content: space-between; /* Alinhar os botões na mesma linha com espaço entre eles */
}

.ativo {
  margin-top: -5%;
  display: flex;
  font-size: 1rem;
  text-align: center;
}

#ativo {
  margin-left: -160px;
  margin-top: 30px;
}

.ativo_span {
  margin-left: 30px;
  display: flex;
}

span {
  color: #726f6f;
  margin: auto 60px;
}

#msform .buttonImagens {
  background: #0e65b6;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 7px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}

#containerImagensWrapper {
  max-height: 200px; /* Ajuste conforme necessário */
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.imagem-input {
  display: flex;
  gap: 10px;
}

.input-desc {
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 20px; /* Altura desejada */
  resize: vertical; /* Permitir redimensionamento apenas vertical */
  overflow: auto; /* Adicionar barra de rolagem quando necessário */
}

/* Estilização do botão de remover */
.remove-button {
	background-color: transparent;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 10px;
	cursor: pointer;
	margin-bottom: 20px;
	transition: background-color 0.3s ease;
}

.remove-button:hover {
	background-color: #ff1c1c;
}
