::-webkit-scrollbar {
    width: 1vh;
    background-color: #b34a2f;
}

::-webkit-scrollbar-thumb {
    background-color: #002b4b;
    border-radius: 3px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1f2029;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    align-items: center;
}

#searchInput {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px 4px 4px 4px;
    outline: none;
    transition: all 0.3s ease;
}

#searchInput:focus {
    border-color: #fa6744;
}

#searchButton {
    background-color: #002b4b;
    color: white;
    border: 1px solid #002b4b;
    padding: 8px 16px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchButton:hover {
    background-color: #fa6744;
    border-color: #fa6744;
}

#searchButton i {
    font-size: 16px;
}

h1 {
    color: aliceblue;
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.xis {
    height: 45px;
    width: 45px;
    text-decoration: none;
    margin-right: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: aliceblue;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #fa6744;
    text-align: left;
}

th {
    background-color: #002b4b;
    color: aliceblue;
}

td {
    background-color: rgb(20, 18, 18);
}

.action-btn {
    padding: 5px 10px;
    border: none;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.action-btn:hover {
    background-color: #45a049;
}

.delete-btn:hover {
    background-color: #da190b;
}

.custom-swal-popup {
    font-weight: #000000;
    border-radius: 30px;
    width: 500px; /* largura desejada */
    height: auto; /* altura automática */
    background-image: linear-gradient(to right, #002b4b 0%, #b34a2f 100%); /* cor de fundo desejada */   
    box-shadow: #000000 0px 0px 10px; /* sombra da borda desejada */
}

.swal2-title, .swal2-content {
    color: aliceblue;
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .header-left, .header-right {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .header-center {
        order: -1;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .search-container {
        width: 100%;
        justify-content: center;
    }

    #searchInput, #searchButton {
        width: 100%;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    h1 {
        margin-bottom: 10px;
    }
}
