::-webkit-scrollbar {
    width: 1vh;
    background-color: #b34a2f;
}

::-webkit-scrollbar-thumb {
    background-color: #002b4b;
    border-radius: 3px;
}

body {
    font-family: Arial, sans-serif;
    background: url("../img/planeta.gif");
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: aliceblue;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #fa6744;
    text-align: left;
}

th {
    background-color: #002b4b;
    color: aliceblue;
}

td {
    background-color: rgb(20, 18, 18);
}

.action-btn {
    padding: 5px 10px;
    border: none;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.action-btn:hover {
    background-color: #45a049;
}

.delete-btn:hover {
    background-color: #da190b;
}

h1 {
    color: aliceblue;
    text-align: center; /* Alteração para centralizar o texto */
    margin: 0 auto; /* Adicionado para centralizar horizontalmente */
}

.xis {
    height: 45px;
    width: 45px;
    text-decoration: none;
    align-self: center; /* Adicionado para alinhar verticalmente com flexbox */
}

header {
    display: flex;
}

.custom-swal-popup {
    font-weight: #000000;
    border-radius: 30px;
    width: 500px; /* largura desejada */
    height: auto; /* altura automática */
    background-image: linear-gradient(to right, #002b4b 0%, #b34a2f 100%); /* cor de fundo desejada */   
    box-shadow: #000000 0px 0px 10px; /* sombra da borda desejada */
}

.swal2-title, .swal2-content {
    color: aliceblue;
}
